.register-container{
    background: url(../images/register-background.jpg);
    height: 100vh;
    /* Thu nhỏ ảnh lại bằng màn hình */
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}
.register-container .register-form{
    width: 400px;
    height: 100vh;
    background: #ffffff;
    padding: 20px;
}
.register-form .title{
    text-align: center;
    font-size: 38px;
    color: #999;
    font-family: sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}
.register-form .input-wrapper{
    margin-bottom: 10px;
}
.register-form .name-wrapper{
    display: flex;
    justify-content: space-between;
}
.name-wrapper .input-wrapper input{
    width: 98%;
}
.register-form .submit-wrapper{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
