.container{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.item{
   
    display: inline-block;
    width: 24%;
    vertical-align: top;
    background-color:#bbdd;
}